root = true

[*]
# Unix style newlines
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

# Charset
charset = utf-8

# 4 space indentation
indent_style = space
indent_size = 4
tab_width = 2

# Line length
max_line_length = 80

